body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 }
 
 #audio-form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 #audio-file {
    margin-bottom: 20px;
 }
 
 #filter-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
 }
 
 .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
 }
 
 .filter:hover {
    background-color: black;
 }

 .selected {
   background-color: black; /* Change this color as desired */
}
 
 