@font-face {
  font-family: 'Silkscreen';
  src: url('slkscr.ttf') format('truetype'),
       url('slkscrb.ttf') format('truetype'),
       url('slkscrc.ttf') format('truetype'); /
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Silkscreen', sans-serif;
    background-image: url('background-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
 }

 h1 {
  font-size: -webkit-xxx-large;
}

h1:hover {
  color: orange;
}

h2 {
  text-align: center;
}

#upload {  
  background-color: rgb(41 35 35);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  padding-left: 35%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

#upload:hover {
  background-color: black;
  color: orange;
}


 #audio-form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 input[type=submit] {
  background-color: rgb(41 35 35);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: black;
  color: orange;
}

.audio-list{
  opacity: 0.3;
}

audio {
  height: 40px;
}

 /* color for background of audio tag */
 audio::-webkit-media-controls-panel {
  background-color: orange;
}

footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: underline;
  margin: 0 10px;
}

footer a:hover {
  color: orange;
}