body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 }
 
 #audio-form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 #audio-file {
    margin-bottom: 20px;
    padding-left: 30%;
 }
 
 #filter-options {
    width: 100%;
    margin-bottom: 20px;
 }

 