<!DOCTYPE html>
<html lang="en">
<head>
   <title>PixelateAudio</title>
   <link rel="icon" href="/static/favicon.png">
   <link rel="stylesheet" type="text/css" href="/static/styles.css">
   <meta name="description" content="Apply fun voice filters to audio files.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <h1 style="text-align: center;">PixelateAudio</h1> 

   <form id="audio-form" method="post" enctype="multipart/form-data">
       <input type="file" id="audio-file" accept="audio/*">
       <label for="filter-options">Select a filter:</label>
       <select id="filter-options" name="selectedFilter">
           <option value="robotic">Robotic</option>
           <option value="echo">Echo</option>
           <option value="vader">Vader</option>
           <option value="ghost">Ghost</option>
           <option value="radio">Radio</option>
           <option value="high-pitch">High-Pitch</option>
           <option value="low-pitch">Low-Pitch</option>
       </select>
       <input type="submit" value="Submit">
   </form>

</body>
</html>
