<!DOCTYPE html>
<html lang="en">
<head>
   <title>PixelateAudio</title>
   <link rel="icon" href="/static/favicon.png">
   <link rel="stylesheet" type="text/css" href="/static/styles.css">
   <meta name="description" content="Apply fun voice filters to audio files.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <h1 style="text-align: center;">PixelateAudio</h1> 

   <form action="/" method="post" id="audio-form" enctype="multipart/form-data">
       <input type="file" name="inputAudio" id="upload" accept="audio/wav" required>
       <input type="submit" value="Submit">
   </form>
   <p> NOTE: Input only .wav files if you don't want the things to break ; ) </p>
   <footer>
      <a href="https://twitter.com/x_pixel22">Twitter</a>
      <a href="https://github.com/git-pixel22">GitHub</a>
      <a href="https://www.linkedin.com/in/its-rajat/">LinkedIn</a>
   </footer>

</body>
</html>
