<!DOCTYPE html>
<html lang="en">
<head>
   <title>PixelateAudio</title>
   <link rel="icon" href="/static/favicon.png">
   <link rel="stylesheet" type="text/css" href="/static/styles.css">
   <meta name="description" content="Apply fun voice filters to audio files.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <h1 style="text-align: center;">PixelateAudio</h1> 

   <div>
       <h2>Filtered Audio List:</h2>
       <table>
           <tr>
               <th>Audio Name</th>
               <th>Audio Player</th>
           </tr>
           {% for name, file in enumerated_audio %}
           <tr>
               <td>{{ name }}</td>
               <td>
                   <audio controls>
                       <source src="{{ file }}" type="audio/wav">
                       Your browser does not support the audio element.
                   </audio>
               </td>
           </tr>
           {% endfor %}
       </table>
   </div>
</body>
</html>
