<!DOCTYPE html>
<html lang="en">
<head>
   <title>PixelateAudio</title>
   <link rel="icon" href="/static/favicon.png">
   <link rel="stylesheet" type="text/css" href="/static/styles.css">
   <meta name="description" content="Apply fun voice filters to audio files.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
    body {
        background-image: url('/static/background-2.png');
    }
   </style>
</head>
<body>
   <h1 style="text-align: center;">PixelateAudio</h1> 

   <div>
       <h2>Filtered Audio List:</h2>
       <table>
           <tr>
               <th>Audio Name</th>
               <th>Audio Player</th>
           </tr>
           {% for name, file in enumerated_audio %}
           <tr>
               <td>{{ name }}</td>
               <td>
                   <audio class="audio-list" controls>
                       <source src="{{ file }}" type="audio/wav">
                       Your browser does not support the audio element.
                   </audio>
               </td>
           </tr>
           {% endfor %}
       </table>
   </div>

   <footer>
    <a href="https://twitter.com/x_pixel22">Twitter</a>
    <a href="https://github.com/git-pixel22">GitHub</a>
    <a href="https://www.linkedin.com/in/its-rajat/">LinkedIn</a>
 </footer>
 
</body>
</html>
